<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render(
    "api/users/user.json.jbuilder",
    user: current_user
    ).html_safe %>
  </script>
<% end %>

<script type="text/javascript">
   window.images = {
     login_logo: "<%= asset_path('login_page_image.png') %>",
     main_logo: "<%= asset_path('office_gram_logo.png')%>",
     profile_logo: "<%= asset_path('profile_logo.png')%>",
     upload_logo: "<%= asset_path('upload_icon.png') %>",
     profile_pic: "<%= asset_path('default_user.jpg') %>",
     logout_logo: "<%= asset_path('logout-logo.png') %>",
     empty_heart: "<%= asset_path('empty_heart.png') %>",
     full_heart: "<%= asset_path('full_heart.png') %>",
     comment_logo: "<%= asset_path('comment_logo.png') %>",
     white_heart: "<%= asset_path('white_heart.png') %>"
   }
 </script>


<main id="root">
<link rel="icon" href="https://botw-pd.s3.amazonaws.com/styles/logo-thumbnail/s3/0018/0890/brand.gif?itok=h3ZAhbP2">
</main>
