<!DOCTYPE html>
<html>
  <head>
    <title>OfficeGram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="icon" type="image/png" href="https://botw-pd.s3.amazonaws.com/styles/logo-thumbnail/s3/0018/0890/brand.gif?itok=h3ZAhbP2"/>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
